.checkboxWrapper {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.checkboxWrapper input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkboxWrapper .checkbox {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid var(--gray);
  border-radius: 50%;
}

.checkboxWrapper .checkbox::after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 1px;
  width: 4px;
  height: 9px;
  border: solid var(--green);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkboxWrapper input[type="checkbox"]:checked + .checkbox::after {
  display: block;
}